*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
libuv/build
xmrig/build
app/build
/captures
app/.externalNativeBuild
libuv/.externalNativeBuild
xmrig/.externalNativeBuild
libuv/libuv-1.23.1/android-toolchain-arm
libuv/libuv-1.23.1/android-toolchain-arm64
libuv/libuv-1.23.1/android-toolchain-x86
libuv/libuv-1.23.1/android-toolchain-x86_64
libuv/libuv-1.23.1/out
libuv/libuv-1.23.1/arm
libuv/libuv-1.23.1/arm64
libuv/libuv-1.23.1/x86
libuv/libuv-1.23.1/x86_64
app/src/main/assets/**
libuv/src/main/assets/**
xmrig/src/main/assets/**
app/lib
xmrig/lib
libuv/lib
/app/release
release
